<html>
<head>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


</head>
<body>
<form>
     <input name="dates">
    <select name="branch" id="branch">
  <option value="All">All</option>
        {% for i in branches %}
  <option value="{{i}}">{{ i }}</option>
        {% endfor %}
</select>
</form>
<canvas id="canvas"></canvas>
	<button hidden id="randomizeData">Randomize Data</button>
	<button hidden id="addDataset">Add Dataset</button>
	<button hidden id="removeDataset">Remove Dataset</button>
	<button hidden id="addData">Add Data</button>
	<button hidden id="removeData">Remove Data</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>


	<script>

		window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};


		var randomColorGenerator = function () {
    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
};

        console.log({{ chart_data|safe }})
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			ctx.canvas.height = 90;
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: {{ chart_data|safe }},
				options: {
					responsive: true,
					legend: {
					    display:false
					},
					title: {
						display: true,
						text: 'Report'
					}
				}
			});

		};



	</script>

<script>
    $('input[name="dates"]').daterangepicker({
        startDate: moment().startOf('month'),
        endDate: moment(),
         ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]

        }}
    );
     $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
         window.location="/dailyreport/chart/?start_date="+picker.startDate.format('YYYY-MM-DD') +"&end_date=" + picker.endDate.format('YYYY-MM-DD') + "&branch=" + $("#branch").val();
  });


    </script>
</body>
</html>