<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>Type</th>
        <td>{{ form.type }}</td>
    </tr>

     <tr>
        <th>company Name</th>
        <td>{{ form.company_Name }}</td>
    </tr>
    <tr>
        <th>Supply Place</th>
        <td>{{ form.supply_Place }}</td>
    </tr>
    <tr>
        <th>bill_No</th>
        <td>{{ form.bill_No  }}</td>
    </tr>
    <tr>
        <th>bill_Date</th>
        <td>{{ form.bill_Date }}</td>
    </tr>



</table>
</body>
</html>